* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

.container {
  border: .1rem solid;
  border-radius: 1rem;
  background-color: black;
  width: 21rem;
  margin: 2.5rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: repeat(7, 4.5rem);
  grid-gap: 1rem;
  grid-template-areas:
  "p1 p1 p1 p1"
  "p2 p2 p2 p2"
  "i1 i2 i3 i4"
  "i5 i6 i7 i8"
  "i9 i10 i11 i12"
  "i13 i14 i15 i16"
  "i17 i17 i18 i19";
}

.up {
  grid-area: p1;
  color: white;
  text-align: right;
  font-size: 2rem;
}

.down {
  grid-area: p2;
  color: white;
  text-align: right;
  font-size: 4rem;
}

button {
  background-color: #363636;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 10rem;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
}

.item1, .item2, .item3 {
  background-color: #A4A4A4;
  color: black;
}

.item4, .item8, .item12, .item16, .item19 {
  background-color: #FF9834;
}

.item17 {
  grid-area: i17;
  text-align: left;
  padding-left: 2rem;
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}
